html, body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body > * {
    border:1px solid #000;
  }
  
  body > header, body > footer {
    background: #AE24DB;
    color: #eee;
    height: 70px;
    line-height:70px;
    text-align:center;
  }
  
  main {
    background: #fafafa
  }
  
  main > .content {
    background: #000;
  }
  
  main > aside {
    background: #51DB24;
    color: #eee;
    height: 100%;
  }
  
  main > aside > p {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  main > nav {
    background: #51DB24;
    height: 100%
  }
  main > .content > .deck > #buttonContainer > button {
    background: #AE24DB;
    border: 4px solid purple;
    font-size: 120%;
    border-radius: 15%;
    color: #eee;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 50%;
    width: 140px;
  }
  
  .deck {
    background: whitesmoke;
  }
  
  .deck:first-child {
    border-bottom: 1px solid black
  }
  
  
  .centerWords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #resetButton {
    margin-bottom: 150px;
    margin-top: 30px;
    height: 120px;
    width: 140px;
    font-size: 150%;
    background: #2DD0D2;
    border: 5px solid #399DC6;
    border-radius: 15%;
    color: white;
  }

  #backButton {
    margin-top: 150px;
    margin-bottom: 30px;
    height: 120px;
    width: 140px;
    font-size: 150%;
    background: #2DD0D2;
    border: 5px solid #399DC6;
    border-radius: 15%;
    color: white;
  }